<div class="container">
  <h1 class="upper-case">
    Offices list
  </h1>
  <mat-card-actions align="end">
    <button
      mat-button
      color="primary"
      class="add-btn"
      (click)="postDepartmentService.add()"
    >
      Add office
    </button>
    <button
      mat-button
      color="warn"
      class="remove-btn"
      (click)="postDepartmentService.remove()"
    >
      Remove office
    </button>
  </mat-card-actions>
  <ul class="post-list">
    <li *ngFor="let department of postDepartmentList">
      <app-post-department
        [department]="department"
        (postDepartmentDetail)="showDetail($event)"
      >
      </app-post-department>
    </li>
  </ul>
</div>
