<div class="left">
  <!-- CLIENT PERSON DETAIL VIEW -->
  <app-client-item *ngIf="isClientPerson()" [client]="item"></app-client-item>
  <!--POST COMPANY  DETAIL VIEW-->
  <app-post-item *ngIf="isPostCompany()" [postCompany]="item" [showDepartmentList]="true"></app-post-item>
  <!--  PACKAGE POST DEPARTMENT VIEW-->
  <app-post-department *ngIf="isPostDepartment()" [department]="item"></app-post-department>
  <!-- PACKAGE DETAIL VIEW-->
  <app-package-item *ngIf="isPackage()" [package]="item"></app-package-item>
</div>
<div class="right list-block">
  <app-department-list
    *ngIf="isPostCompany()"
    (postDepartmentDetail)="viewDetail($event)"
    [parentID]="item.id"></app-department-list>
  <app-package-list *ngIf="isPostDepartment()"></app-package-list>
</div>
