<div class="container">
  <mat-card-actions align="end">
    <button mat-button color="primary" class="add-btn" (click)="add()">ADD PACKAGE</button>
    <button mat-button color="warn" class="remove-btn" (click)="packageService.remove()">REMOVE PACKAGE</button>
  </mat-card-actions>
  <ul class="post-list">
    <li *ngFor="let pack of packageList">
      <app-package-item
        [package]="pack"
        (packageDetail)="showDetail($event)"
        >
      </app-package-item>
    </li>
  </ul>
</div>
